{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <style>
        .control-label{
            float: left;
            width: 0%;
        }
        #membername{
            float: left;
            width: 50%;
        }
    </style>
{% endblock %}

{% block app_content %}

<div class="row">
    <div class="col-md-6">
    {{ wtf.quick_form(form) }}
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped" id="members_table">
            {% if members %}
            <thead>
            <tr>
                <th>Member</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member}}</td>
                    <td>Edit, Delete</td>
                </tr>
                {% endfor %}
            {% else %}
                <p>No members found yet !!</p>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}